.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    gap: 1084px;

    background: #000000;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

.main {

    padding: 50px 40px 50px 40px;
    height: 100%;


    /*position: absolute;*/
    /*width: 285px;*/
    /*height: 659px;*/
    /*left: 40px;*/
    /*top: 118px;*/

    background: blue;
    /*border-radius: 8px;*/
}